name: Code Compilation Check

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  check-compilation:
    runs-on: windows-latest

    defaults:
      run:
        shell: msys2 {0}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup MSYS2 and Libraries
        uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          # Updated package names to ensure compatibility in MINGW64 environment
          install: >-
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-boost
            mingw-w64-x86_64-crypto++

      - name: Verify Compilation
        run: |
          cd Client
          g++ main.cpp MessageUClient.cpp RSAWrapper.cpp Base64Wrapper.cpp AESWrapper.cpp -o /dev/null -std=c++17 -lWs2_32 -lpthread -lcryptopp
